button {
    border-radius: 0!important;
    border: 0px!important;
    
}

body {
  font-family: 'Open Sans', sans-serif;
}



/**
 *
 *	Cabeçalho
 *
*/

section#cabecalho {
	background: #fff;
	border: 0px solid #f0f0f0;
	min-height: 50px;
}


section#cabecalho button {
	/*background: #ff8300;*/
    background: #3498db;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 12px;
    margin-bottom: 13.9px;
    margin-top: 13.9px;
    padding: 8px 14px 8px 14px;
    position: relative;
    text-transform: uppercase;
}

/**
 *
 *	Banner de pesquisa
 *
*/

section#pesquisar fieldset {
	width: 100%;
    padding: 20px 0;
    margin: 20px -15px;
/*    background: #fff;*/
    border-radius: 5px;
}

section#pesquisar fieldset .input-group {
	width: 100%;
}


/**
 *
 *	Conteúdo principal
 *
*/

section#cabecalho h1#logo {
  margin-top: 20px;
}

section#cabecalho h1#logo img {
  max-width: 160px;
}

section#corpo .directory-section figure a {
    display: inline-block;
    height: 205px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

section#corpo .directory-section {
	box-shadow: 0 0 3px 1px #eee;
    border: 1px solid #eee;
    margin-bottom: 4px;
    background-color: #ffffff;
    float: left;
    width: 100%;
}

section#corpo .dr_userinfo li .cs-label {
    color: #999;
    display: inline-block;
    float: none;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0px;
}

section#corpo .dr_userinfo li span {
    font-size: 12px;
    font-weight: bold;
    padding: 0px 0px 0px 8px;
    color: #666666;
}

section#corpo .directory-section .cs_details {
    background-color: #ffffff;
    border-top: 1px solid #f0f0f0;
    float: left;
    min-height: 100px;
    padding: 11px 20px 15px 20px;
    width: 100%;
}

section#corpo .cs-category-label {
    padding: 5px;
    background-color: #00A9E0;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
}

section#corpo .add-recompensa {
	padding: 5px;
    background-color: #ff9c00;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
}

div#veiculos {
    margin-left: -15px;
    margin-right: -15px;
}

section#corpo figure a:hover:after {
    color: #ffffff;
    content: "Saber mais";
    display: block;
    font-size: 38px;
    font-weight: 700;
    left: 0;
    padding: 0 40px;
    letter-spacing: 3px;
    line-height: 110%;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 20px #000;
    text-transform: uppercase !important;
    top: 60px;
    transition: all 0.2s ease 0s;
    width: 100%;
}

div#slider-thumbs li {
    list-style: none;
    padding-right: 0px;
}

div#slider-thumbs {
    padding-top: 10px;
}


/**
 *
 *	Rodapé
 *
*/

.footer a {
	color: #00dcc1;
}

.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
	color: #fff;
}

.footer-top {
	background-color: #444;
	color: #fff;
	font-size: 13px;
	padding: 40px 0px;
}

.footer-top h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 0px 0px 30px 0px;
}

.footer-top p {
	margin: 0px;
}

.footer-top .nav.social-links > li:first-child {
    margin-left: 0px;
}
@media (max-width: 767px) {
.footer-top .col-sm-4, .footer-top .categories > ul > li {
margin: 50px 0px; } }

.footer-bottom {
background-color: #363636;
color: #fff;
font-size: 13px;
padding: 35px 0px; }
.footer-bottom .nav > li > a {
border-radius: 0px;
color: #fff;
padding: 0px 20px; }
.footer-bottom .nav > li > a:hover {
background-color: transparent;
color: #c6af5c; }
.footer-bottom .nav > li:last-child a {
padding-right: 0px; }
@media (max-width: 767px) {
.footer-bottom .nav > li {
border-bottom: 1px solid rgba(255, 255, 255, 0.08);
display: block;
float: none;
padding: 10px 8px; }
.footer-bottom .nav > li a {
padding: 0px; }
.footer-bottom .nav > li:last-child {
border-bottom: 0px; } }

.footer-bottom-left {
float: left; }
@media (max-width: 767px) {
.footer-bottom-left {
float: none; } }

.footer-bottom-right {
float: right; }
@media (max-width: 767px) {
.footer-bottom-right {
float: none;
margin-top: 30px; } }


/**
 *
 *  Social Media
 *
*/

.nav.social-links > li {
  border-radius: 50%;
  margin: 0px 15px 3px 0px; }
  .nav.social-links > li > a {
    padding: 0px; }
    .nav.social-links > li > a:active, .nav.social-links > li > a:focus, .nav.social-links > li > a:hover {
      background-color: transparent; }

.nav.social-links i {
  background-color: #f7f8f9;
  border-radius: 50%;
  color: rgba(54, 54, 54, 0.6);
  font-size: 12px;
  height: 24px;
  line-height: 26px;
  text-align: center;
  transition: background-color .15s linear;
  width: 24px; }
  .nav.social-links i.fa-facebook {
    background-color: #365397;
    color: #fff; }
    .nav.social-links i.fa-facebook:hover {
      background-color: #2f4984; }
  .nav.social-links i.fa-twitter {
    background-color: #00a9f1;
    color: #fff; }
    .nav.social-links i.fa-twitter:hover {
      background-color: #0097d8; }
  .nav.social-links i.fa-google-plus {
    background-color: #e0452c;
    color: #fff; }
    .nav.social-links i.fa-google-plus:hover {
      background-color: #d3381f; }
  .nav.social-links i.fa-dribbble {
    background-color: #ed4584;
    color: #fff; }
    .nav.social-links i.fa-dribbble:hover {
      background-color: #eb2e75; }
  .nav.social-links i.fa-linkedin {
    background-color: #287bbc;
    color: #fff; }
    .nav.social-links i.fa-linkedin:hover {
      background-color: #246da7; }
  .nav.social-links i.fa-instagram {
    background-color: #396d9a;
    color: #fff; }
    .nav.social-links i.fa-instagram:hover {
      background-color: #326087; }
  .nav.social-links i.fa-pinterest-p {
    background-color: #ce1a19;
    color: #fff; }
    .nav.social-links i.fa-pinterest-p:hover {
      background-color: #b71716; }



/**
 *
 *	Inserir anúncio
 *
*/

.titulo_separador {
    background-color: #f1f1f1;
    float: left;
    padding: 4px 20px;
    text-transform: uppercase;
    width: 100%;
    margin: 15px 0;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
}

.upload-drop-zone {
    min-height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
    padding: 20px;
}

/*.form-group {
    float: left;
    width: 100%;
}*/

form input[type="text"], form input[type="url"], form input[type="password"], form select.form-control, form input[type="email"] {
	border: 1px solid #dae4eb;
    color: #999;
    float: left;
    font-weight: 300;
    height: 40px;
    padding: 8px 14px;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
}

form textarea.form-control {
	border: 1px solid #dae4eb;
    color: #999;
    float: left;
    font-weight: 300;
    padding: 8px 14px;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 347px;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}


.anuncio-desc {
  white-space: pre-wrap;
}

/*Fun begins*/
.tab_container {
  padding-top: 35px;
  padding-bottom: 70px;
  position: relative;
}

.tab_container input.tabhinput, .tab_container section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab_container label.tabh {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 50%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content,
#tab2:checked ~ #content {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

#content1, #content2 {
  display: none;
}

#tab1:checked ~ #content #content1,
#tab2:checked ~ #content #content2 {
  display: block!important;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label.tabh {
  background: #fff;
  box-shadow: inset 0 3px #3498db;
}

.tab_container [id^="tab"]:checked + label.tabh .fa {
  color: #0CE;
}

.tab_container label.tabh .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  .tab_container label.tabh span {
    font-size: 14px;
  }
  .tab_container label.tabh .fa {
    font-size: 14px;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tab_container .form-group {
  float: none;
}

.dz-details, .dz-size, .dz-filename, .dz-progress, .dz-error-message, .dz-success-mark, .dz-error-mark {
  display: none;
}

.dz-preview.dz-image-preview {
    width: 20%;
    float: left;
}

.dz-started span.dz-message.needsclick {
  display: none;
}

.dz-preview.dz-image-preview {
  line-height: 1.6!important;
}

.profile-teaser-left {
    float: left; width: 20%; margin-right: 1%;
}
.profile-img img {
    width: 100%; height: auto;
}

.profile-teaser-main {
    float: left; width: 59%;
}

.profile-teaser-right {
  float:left;width: 20%;padding-top: 13px;
}

.info { display: block; margin-right: 10px; color: #777; }
.info span { font-weight: bold; }

h3.profile-name {margin-top: 0px;}

.info-inline {
    display: inline-block;
    margin-top: 6px;
}


.carousel-inner img.img-responsive {
  max-width: none;
  width: 100%;
}

section#corpo figure.Abandonado span {
    right: 15px;
    background-color: #f39c12;
}

section#corpo .cs-category-label.Abandonado {
    background-color: #f39c12;
}

.cs-category-label.Abandonado {
  right: 15px;
  background-color: #f39c12;
}

tr.read {
    background: #f6f6f6;
}

ul.nav.navbar-nav {
    margin: 6.7px 15px 6.7px 0px;
}



/*ul.nav.navbar-nav li.active a {
    font-weight: bold;
    text-decoration: underline;
}*/

/*ul.nav.navbar-nav li.active a::after, ul.nav.navbar-nav li:hover a::after {
    border-bottom: 4px solid #3097d1;
    content: " ";
    position: relative;
    display: block;
    -webkit-transition: width 2s;
    transition: width 2s;
}*/

#mainNav .dropdown-menu {
  right: 0;
  left: auto;
}

#mainNav .dropdown-menu li i {
  margin-right: 10px;
  display: none;
}


ul.nav.navbar-nav li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3097d1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

ul.nav.navbar-nav li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

ul.nav.navbar-nav li.active a {
  font-weight: bold;
}

#slider-toggle {
  width: 100px;
  margin-left: 15px;
}
#slider-toggle.off .noUi-handle {
  border-color: red;
}


  a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
    /***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


#integration-list {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}
#integration-list ul {
    padding: 0;
    margin: 20px 0;
    color: #555;
}
#integration-list ul > li {
    list-style: none;
    border-top: 1px solid #ddd;
    display: block;
    padding: 15px;
    overflow: hidden;
}
#integration-list ul:last-child {
    border-bottom: 1px solid #ddd;
}
#integration-list ul > li:hover {
    background: #efefef;
}
.expand {
    display: block;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}
h2 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}
span {
    font-size: 12.5px;
}
#left,#right{
    display: table;
}
#sup{
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}
/*.detail a {
    text-decoration: none;
    color: #C0392B;
    border: 1px solid #C0392B;
    padding: 6px 10px 5px;
    font-size: 14px;
}*/
.detail {
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
    height: 150px;
}
.detail span{
    margin: 0;
}
.right-arrow {
    margin-top: 12px;
    margin-left: 20px;
    width: 10px;
    height: 100%;
    float: right;
    font-weight: bold;
    font-size: 20px;
}
.icon {
    height: 75px;
    width: 75px;
    float: left;
    margin: 0 15px 0 0;
}
.london {
    background: url("http://placehold.it/50x50") top left no-repeat;
    background-size: cover;
}
.newyork {
    background: url("http://placehold.it/50x50") top left no-repeat;
    background-size: cover;
}
.paris {
    background: url("http://placehold.it/50x50") top left no-repeat;
    background-size: cover;
}

.ip {
  width: 18%;
  height: 133px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
  border: 1px solid #f1f1f1;
  display: inline-block;
  margin-right: 2%;
}
.ip:last-child {
  margin-right: 0;
}
.ip input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
.ip label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #3498db;
  width: 80%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

/*.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/

nav#mainNav ul li a {
    color: black;
}

nav#mainNav ul li.active a {
    color: #3097d1;
}

nav#mainNav .open ul.dropdown-menu li.active a {
	color: #fff;
}

section#cabecalho h1 {
  margin-top: 17px;
}

section#pesquisar {
    background: #3498db;
}

section#corpo {
    margin: 35px 0;
}

input#matricula {
    font-weight: bold;
    /* color: black; */
}

select#marca {
    color: #7c8188;
    font-weight: bold;
}

section#pesquisar button.btn.btn-primary {
    background: #f39c12;
}

.navbar {
  min-height: 30px;
  margin-bottom: 0px;
}

.tab_container h3 b {
    color: #3498db;
}

tr.clickable-row:hover {
    cursor: pointer;
}

.btn-facebook {
  background: #3b5998;
  border: 1px solid #3b5998;
  color: #fff;
}

.btn-twitter {
  background: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
}

.btn-google {
  background: #db4437;
  border: 1px solid #db4437;
  color: #fff;
}

.profile-content h3 {
  margin-top: 11px;
}

#myCarousel a.carousel-control i {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.input-group-addon {
  background: transparent;
  border-radius: 0px;
  border: 1px solid #dae4eb;
}


.btn-share {
    display: inline-block;
    border: none;
    padding: 0.5em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
    width: 100%;
}

.btn-share.facebook {
    background: #3B5998;
    color: #ffffff;
}

.btn-share.twitter {
    background: #55ACEE;
    color: #ffffff;
}

.btn-share.google {
    background: #dd4b39;
    color: #ffffff;
}

.btn-share:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
}

.matricula, #matricula {
  text-transform: uppercase;
}

body .select2-container--default .select2-selection--single {
  border-radius: 0px;
  border: 1px solid #e6ecf1;
  height: 40px;
  padding: 8px 14px;
  font-size: 14px;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 24px;
  color: #999;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}

@media (max-width: 500px) {
  #corpo td {
      width: 100%;
      display: block;
  }
}

#buttons {
  display: block;
  padding-bottom: 40px;
  float: left;
  width: 100%;
}

.button {
    background: #DCE0E0;
    position: relative;
    display: block;
    float: left;
    height: 40px;
    margin: 0 7px;
    overflow: hidden;
    width: 146px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.icon {
    display: block;
    float: left;
    position: relative;
    z-index: 3;
    height: 100%;
    vertical-align: top;
    width: 38px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
}

.icon i {
    color: #fff;
    line-height: 42px;
}

#buttons .slide {
    z-index: 2;
    display: block;
    margin: 0;
    height: 100%;
    left: 38px;
    position: absolute;
    width: 112px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

#buttons .slide p {
    font-weight: 400;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255,255,255,0.35);
    color: #fff;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 100%;
}

.button .slide {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.google #___plusone_0 {
    width: 70px !important;
    top: 10px;
    right: 15px;
    position: absolute;
    display: block;
    z-index: 1;
}

.linkedin .IN-widget {
    top: 10px;
    right: 22px;
    position: absolute;
    display: block;
    z-index: 1;
}

.facebook:hover .slide {
    /*left: 150px;*/
    opacity: 0.8;
}

.twitter:hover .slide {
    /*top: -40px;*/
    opacity: 0.8;
}

.google:hover .slide {
    /*bottom: -40px;*/
    opacity: 0.8;
}

.linkedin:hover .slide {
    /*left: -150px;*/
    opacity: 0.8;
}

.facebook .icon, .facebook .slide {
    background: #305c99;
}

.twitter .icon, .twitter .slide {
    background: #00cdff;
}

.google .icon, .google .slide {
    background: #d24228;
}

.linkedin .icon, .linkedin .slide {
    background: #007bb6;
}


@media (max-width: 768px) {

  section#cabecalho h1#logo {
    margin-left: 15px;
  }

  .but-mobile button {
    width: 100%;
  }

  ul.nav.navbar-nav {
    margin: 0;
  }

  ul.nav.navbar-nav li.active {
    background: #3498db;
    border: 1px solid white;
  }

  ul.nav.navbar-nav li.active a {
    color: #fff!important;
  }

  section#pesquisar fieldset {
    margin: auto;
  }

  section#pesquisar fieldset .col-md-5.col-xs-12 {
    margin-bottom: 10px;
  }

  section#corpo {
    margin: 8px 0 30px;
  }


  .profile-teaser-left {
    width: 100%;
    margin-right: 0;
  }

  .tab_container label.tabh .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 0px;
  }

  .row.profile .col-md-9 {
    margin-top: 15px;
  }

  .ip {
    width: 31%;
  }

  .ip:nth-child(3) {
    margin-right: 0;
  }

  div#veiculos article {
    float: left;
    width: 100%;
  }
}

.left-section a {
  display: block;
}

li.list-group-item.active a {
    color: white;
}

section#corpo .cs-category-label.recuperado {
  background-color: #4CAF50;
}

section#corpo #myCarousel .cs-category-label {
    z-index: 99;
    right: 0;
    padding: 10px;
}

.publicaciones-blog-home {
    padding-bottom: 50px;
  background: url("") no-repeat fixed center center;
    background-size: 100% auto;
  background-color: #f1f1f1;
}
.publicaciones-blog-home h2 {
  text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 33px;
    margin-top: 35px;
}
.publicaciones-blog-home h2 b {
  color: #3498db;
}
.publicaciones-blog-home .fondo-publicacion-home {
  background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}
.publicaciones-blog-home .fondo-publicacion-home:hover h3 {
  color: #3498db;
/*    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.08);*/
}
.publicaciones-blog-home .fondo-publicacion-home:hover .mascara-enlace-blog-home {
    height: 400px;
    width: 100%;
    color: #aaa;
    background-color: #3498db;
    position: absolute;
    top: 0;
    opacity: 0.95;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;   
}
.publicaciones-blog-home .black {
  background: #3498db;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
  display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
  height: 100%;
    width: auto;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home {
    padding: 0 10px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home h3 {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-home  {
    overflow: hidden;
    max-height: 180px;
}
.mascara-enlace-blog-home {
    height: 400px;
    width: 0%;
    color: #aaa;
    background-color: #3498db;
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    text-align: center;
    padding-top: 180px;
}
.mascara-enlace-blog-home span {
    text-align: center;
    max-height: 400px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}
.publicaciones-blog-home .todas-las-publicaciones-home {
    background: #3498db;
    height: 400px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
}
.publicaciones-blog-home .todas-las-publicaciones-home span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 26px;
}
@media (max-width: 768px) {
    .publicaciones-blog-home h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 34px;
    margin-top: 30px;
    }
    .publicaciones-blog-home .fondo-publicacion-home {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: inherit;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
    }
    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: auto;
    }
    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
    height: auto;
    width: 100%;
    }
    .publicaciones-blog-home .black {
    background: #fff;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 10px;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    }
    .publicaciones-blog-home .todas-las-publicaciones-home {
    background: #3498db;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
    }
}

#infscr-loading {
    display: block;
    width: 100%;
    clear: both;
    padding: 35px 20px;
}

div#veiculos article {
    padding-bottom: 30px;
}

#carregar-mais button {
  margin: 30px auto 60px;
}

div#carregar-mais {
    float: left;
    width: 100%;
}

@media (max-width: 500px) {
  .icon {
    width: 20%;
  }

  #buttons .slide {
    width: 82%;
  }

  .button {
    background: transparent;
    width: 100%;
  }
}


.anuncio {
  background: white;
  margin-top: 15px;
  padding: 10px 0 8px;
}

.relacionados {
  margin-top: 35px;
  margin-bottom: 35px;
}


  .form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
  margin:auto;
}
.main{
  padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
  font-size:20px;
  font-weight:bold;
  padding:38px 38px 0px 38px;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input{
  margin-bottom: 10px;
  border-radius: 5px;
  
}

.login-footer{
  background:#f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding:20px;
}
.login-footer .left-section a{
  font-weight:bold;
  color:#8a8a8a;
  line-height:19px;
}
.mg-btm{
  margin-bottom:20px;
}

#veiculos .directory-section h1 {
    font-size: 12px;
    display: inline-block;
    margin: 0;
    font-weight: bold;
    padding: 0px 0px 0px 8px;
    color: #666666;
}

.fb_iframe_widget {
  margin-top: 60px;
}